$blue:   #2A74BF;
$red:    #D7514C;
$green:  #4D944B;
$orange: #D8C11D;
$grey:   #666;
$white:  #fff;
$thickness: 1px;



$nav-link: $white !default;
$nav-link-active: $blue !default;
$title-underline-color: $blue !default;
$border-ths: $thickness !default;
$first-img: $red !default;
$second-img: $blue !default;
$third-img: $orange !default;
$fourth-img: $green !default;
$footer: $grey !default;
$footer-copy: $white !default;
